#nav-wrap {
margin-top:20px;
}

div.flex-viewport ul.slides li h2 {
font-size:1.8em;
}

.menu-icon {
display:none;
}

#pageslide-slide-wrap {
background-color:#3D3D3D;
}

#pageslide-content h2 {
color:#C60;
}

#pageslide-content a {
font-size:12px;
padding:20px;
}

.pageslide-close {
font-size:12px;
font-weight:700;
border:1px solid #C60;
padding:10px!important;
}

@media screen and (min-width: 100px) and (max-width: 768px){
body {
margin-right:auto;
margin-left:auto;
width:auto;
background:#CCC;
}

#nav {
background-color:transparent;
position:absolute;
left:0;
display:none;
}

#container #nav {
display:none;
}

.menu-icon {
color:#FFF;
height:30px;
background:#EDDCEA url(../images/menu-icon.png) no-repeat 10px center;
cursor:pointer;
display:block;
font-size:1.4em;
width: 40px;
-moz-border-radius:5px;
border-radius:5px;
-moz-box-shadow:5px 5px #000;
-webkit-box-shadow:5px 5px #000;
box-shadow:5px 5px #000;
padding:8px 10px 0 42px;
}

.menu-icon:hover {
background-color:#f8f8f8;
}

.menu-icon.active {
background-color:#07A285;
}

.ls-canvas .ls-area {
overflow:visible;
}

#container {
background:none no-repeat scroll 0 0 #FFF;
overflow:visible;
position:relative;
width:auto;
margin:0 auto;
}

#content {
width:100%;
padding-bottom:0;
}

#heading h2 {
font-size:2.2em;
margin-left:0;
}

#heading {
padding:10px 10px 5px;
}

#footer ul {
font-size:1em;
padding:10px 0 0 10px;
}

#accessibility li {
font-size:1em;
width:auto;
}

.profileQuote {
width:0;
}

.homepage #header .headerImage {
width:100%;
left:0;
height:auto;
margin-bottom: -42px;
}

.homepage .menu-icon {
position: relative;
bottom: 83px;
left: 20px;
}

.summary {
background:url(../images/bg_summary.png);
color:#fff;
width:auto;

padding:5px;
}

div.summary {
font-size: 16px;
}

.homepage #header .headerImage p.summary {
background:url(../images/bg_summary.png);
color:#fff;
padding-left:5px;
padding-top:5px;
padding-bottom:5px;
font-size: 12px;
margin-top:-3px;
margin-bottom: 0px;
}

.flex-control-nav {
position: relative;
}
.homepage #container #navposdefault {
position:absolute;
top:-17%;
z-index:999;
}

#container #navposdefault {
position:absolute;
z-index:999;
background-color:transparent;
}


.homepage #container #navposbig {
position:absolute;
top:-17%;
z-index:999;
}

#container #navposbig {
position:absolute;
z-index:999;
background-color:transparent;
}

#homeHead {
border:1px solid #CCC;
margin-bottom:5px;
max-width:auto!important;
width:auto!important;
padding:3px;
}

#homeHead h2 {
font-size:1.2em;
}

div.col1,div.col2,div.col3 {
margin-right:0;
}

div.card div.col2 {

width: 100%;
float: none;

}

#ls-row-3-area-3 .ls-area-body {
width:100%;
margin-left:0;
}

.right {
margin-left:0!important;
margin-bottom:12px!important;
}

.left {
margin-bottom:12px!important;
}

div.highlightBox {
width:auto;
min-height:0;
background-repeat: repeat-x;
margin-right: 0px !important;
background-size:100%;
}

#ls-row-3 {
margin-top:auto;
}

h1 {
width:40%;
background-size:100%;
margin:21px 0 0;
}

div.peripheralcontent div.feature div.feature-bg {
background-repeat:repeat-x !important;
}

.right.listing_content {
float:none!important;
width:auto;
}

#ls-canvas {
width:auto;
margin-left:0!important;
overflow-x:hidden!important;
}

div.row div.col2 ul li,div.row div.col1 ul li {
min-height:115px;
}

div.video > iframe {
clear:left;
width:100%;
max-height:100%!important;
}

#container .ls-fxr,div.item h3,div.row,#ls-row-4-area-3,.ls-area#ls-row-4-area-3 {
width:100%;
}

#content .ls-area-body,#ls-row-3-area-3,#ls-row-4-area-3 .ls-area-body {
width:auto;
margin-left:10px;
margin-right:10px;
}

#ls-row-2 .ls-fxr,#header,#ls-row-3 .ls-fxr,#sitename,#ls-row-5 .ls-fxr,#ls-row-5-area-1,div.card div.col1 {
width:auto;
}

#homeHead img,.headerImage img {
max-width:100%!important;
height:auto!important;
width:100%!important;
}

#card_modules div.row div.col1{
float:none !important;
}

#card_modules div.row div.col2 {

float:none !important;
}

div.row div.col1, div.row div.col2 {

float:left !important;
width:100% !important;
}

div.peripheralcontent div.feature,.peripheralcontent h3 {
clear:left;
}

dl.modules dt {
float: none;
text-decoration: underline;
}

.homepage .flexslider {

margin-bottom: -20px;
}
dl.modules dd{

margin-left: 0px;
}

.homepage #header .headerImage .summary {
font-size: 16px !important;
}

.homepage #header .headerImage p.summary {
min-height: 112px;
max-height: 112px;
height: 112px !important;
}

.playvideo {
    margin: 6% 9%;
}
	
.peripheralcontent .twitter-timeline.twitter-timeline-rendered, #content .twitter-timeline.twitter-timeline-rendered {
width: 100%;
}
.twitter {
width: 100%;
}

.addthis_toolbox.addthis_default_style.addthis_16x16_style {
padding-left: 35%;
 margin-bottom: -16px;
}
/*Make footer bigger to allow share to fit*/
#ls-row-5 {
padding-top: 16px;
}
}
@media screen and (max-width: 820px){

}

@media screen and (max-width: 470px){

.homepage .flex-direction-nav a {
opacity: 1;
position: absolute;
bottom: 0;
}

.homeHead .flex-direction-nav a {

position: absolute;
top: 50%;
}
/* Issue with breaking icon
.homepage .menu-icon {
top: -150px;
}*/

.headerImage .flex-direction-nav {
position: relative;
bottom: 0px;
}

#homeHead  .flex-direction-nav {
position: static;
}
.next {
right: 0 !important;
clip: rect(0px, 56px, 65px, 26px);
padding-right: 31px;
}

.flex-control-nav {
display: none;
}
.homepage #header .headerImage p.summary {
 width: 99%;.a
min-height: 112px;
max-height: 112px;
height: 112px !important;
}
/* Issue with breaking icon
.homepage #header .headerImage {
margin-bottom: -19px;
}*/

.homepage #header .headerImage .summary {
font-size: 12px !important;
}

.homepage #header .headerImage p.summary, .homepage #header .headerImage p.summary a {
font-size: 1em;
}

#homeHead .flex-direction-nav .next{
background-position: 0 0;
}

.homepage .flexslider {
margin-bottom: 4px;
}

/* phone width */

div.imageblock {
width: 100%;
height: auto;
}

.playvideo {
    margin: 20% 7%;
}
	
	
}