/**
* Colour specific settings
*
# This file is to contain ONLY the overrides needed to changing the colour of the site,
* so no colours, sizes, fonts or spacings styles
*
* This will mainly be used for the background colours, foreground colours and coloured image backgrounds
*
*
*/
#header {
	border-color: #3A4D22;
}

a:link,a:visited,
div.tags ul li,h2,h3,h4,
div.intro p,
div p.intro,
blockquote p,
p.lead,
table th,
dl.staff dt,
p em,
#content h4,
#content h5, 
#content h6,
ul#breadcrumb li a,
div.peripheralcontent h3,
#container table tr td a,
div .card a,
.ep_citations_item a,
div.featured h3,
div.listing h3,
#webform fieldset legend,
.serif,
div.contactCard h4
{
	color: #3A4D22;
}

/*
 Main Left Navigation
*********************************************************/
#nav li a {
	color: #FFF;
}

#nav li#searchBox, #nav li.home a, #nav li.sotonhome a, input.button {
	background-color: #69893F;
}

#nav li.home a:hover, #nav li a:hover, #nav li.active a, #nav li.inactive a:hover, #nav li.sotonhome a:hover {
	background-color: #577234;
}

#nav li#searchBox button.submit {
	background-image: url(../../images/cb3/nav_light_green_search.gif);
}

#nav li#searchBox input.text, #nav li.pages, #nav li.home  {
	border-color: #ABC785;
}

#nav li.home a {
	background-image: url(../../images/cb3/nav_light_green_home.gif);
}

#nav li.home a:hover {
	background-image: url(../../images/cb3/nav_light_green_home_over.gif);
}

#nav li li.inactive a {
	/* inactive items and inactive items under active items */
	background-color: #89B053;
}

#nav ul ul,#nav li li,#nav li li.active a,#nav li li.active li {
	/* border for all items in the nav */
	border-color: #ABC785 !important;
}

/* University Home Top level Item */
#nav li.sotonhome a {
	background-image: url(../../images/cb3/nav_light_green_back.gif);
}

#nav li.sotonhome a:hover {
	background-image: url(../../images/cb3/nav_light_green_back_over.gif);
}

/* page list styles */
.pageList ul li, div.featured ul li,#content div.card div.row ul.facts li,.peripheralcontent ul li, div.card div.peripheralcontent ul li,.peripheralcontent div.newsfeed h3,.peripheralcontent h3.flickr   {
  background-color: #ABC785;
}

/* tab navigation */
div#content ul.tabs li.active a {
	background: #FFF url(../../images/cb3/bg_tabs_light_green.gif) repeat-x;
}

div.peripheralcontent div.feature div.feature-bg {
  background: #FFF url(../../images/cb3/bg_highlightBox_light_green.png) no-repeat 0 0;
}

/* profile styles */
.testimonialDetails dl dt, .profileDetails dl dt {
  color: #3A4D22;
}

div.highlightBox {
  background-image: url(../../images/cb3/bg_highlightBox_light_green.png);

}

span.listing 
{
    color: #3A4D22;
}

.kisinfo {
     background: url(../../images/kis/nav_up_light_green.png) no-repeat;
	 padding: 0px 25px;
	 color: #3A4D22;

}

div.card div.row ul.facts li {
  background-color: #89B053;
}

.menu-icon {
background-color: #89B053;
}

.flex-control-nav li a {
background: url(../../images/slider/bg_nav_light_green.png) no-repeat; 
}